In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
salary_train=pd.read_csv('SalaryData_Train.csv')
salary_test=pd.read_csv('SalaryData_Test.csv')

In [3]:
salary_train.head

<bound method NDFrame.head of        age          workclass    education  educationno        maritalstatus  \
0       39          State-gov    Bachelors           13        Never-married
1       50   Self-emp-not-inc    Bachelors           13   Married-civ-spouse
2       38            Private      HS-grad            9             Divorced
3       53            Private         11th            7   Married-civ-spouse
4       28            Private    Bachelors           13   Married-civ-spouse
...    ...                ...          ...          ...                  ...
30156   27            Private   Assoc-acdm           12   Married-civ-spouse
30157   40            Private      HS-grad            9   Married-civ-spouse
30158   58            Private      HS-grad            9              Widowed
30159   22            Private      HS-grad            9        Never-married
30160   52       Self-emp-inc      HS-grad            9   Married-civ-spouse

               occupation    relationship    race      sex  capitalgain  \
0            Adm-clerical   Not-in-family   White     Male         2174
1         Exec-managerial         Husband   White     Male            0
2       Handlers-cleaners   Not-in-family   White     Male            0
3       Handlers-cleaners         Husband   Black     Male            0
4          Prof-specialty            Wife   Black   Female            0
...                   ...             ...     ...      ...          ...
30156        Tech-support            Wife   White   Female            0
30157   Machine-op-inspct         Husband   White     Male            0
30158        Adm-clerical       Unmarried   White   Female            0
30159        Adm-clerical       Own-child   White     Male            0
30160     Exec-managerial            Wife   White   Female        15024

       capitalloss  hoursperweek          native  Salary
0                0            40   United-States   <=50K
1                0            13   United-States   <=50K
2                0            40   United-States   <=50K
3                0            40   United-States   <=50K
4                0            40            Cuba   <=50K
...            ...           ...             ...     ...
30156            0            38   United-States   <=50K
30157            0            40   United-States    >50K
30158            0            40   United-States   <=50K
30159            0            20   United-States   <=50K
30160            0            40   United-States    >50K

[30161 rows x 14 columns]>

In [4]:
salary_train.columns
salary_test.columns
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [5]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()

In [6]:
for i in string_columns:
    salary_train[i]=label_encoder.fit_transform(salary_train[i])
    salary_test[i]=label_encoder.fit_transform(salary_test[i])

In [7]:
col_names=list(salary_train.columns)
train_X=salary_train[col_names[0:13]]
train_Y=salary_train[col_names[13]]
test_x=salary_test[col_names[0:13]]
test_y=salary_test[col_names[13]]

In [8]:
#Gaussian Naive Bayes

from sklearn.naive_bayes import GaussianNB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_X,train_Y).predict(train_X)
test_pred_gau=Gmodel.fit(train_X,train_Y).predict(test_x)

In [9]:
train_acc_gau=np.mean(train_pred_gau==train_Y)
test_acc_gau=np.mean(test_pred_gau==test_y)
train_acc_gau#0.795
test_acc_gau#0.794

0.7946879150066402

In [10]:
#Multinomial Naive Bayes

from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_X,train_Y).predict(train_X)
test_pred_multi=Mmodel.fit(train_X,train_Y).predict(test_x)

In [11]:
train_acc_multi=np.mean(train_pred_multi==train_Y)
test_acc_multi=np.mean(test_pred_multi==test_y)
train_acc_multi#0.772
test_acc_multi#0.774

0.7749667994687915